# PATTERNS

In [3]:
n = int(input("Enter the number : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end = "")
    print("")

Enter the number : 5
*
**
***
****
*****

In [6]:
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end = " ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end = " ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
k = 1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end = " ")
        k = k + 1
    print("")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [26]:
for i in range(1, n + 1):
    for j in range(n - i):
        print(" ", end = " ")
    for j in range(i):
        print(i,end=" ")
#here end equal double space to print pyramid
#"""show in below"""
    print("")

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [27]:
for i in range(1, n + 1):
    for j in range(n - i):
        print(" ", end = " ")
    for j in range(i):
        print(i,end="  ")
    print("")

        1
      2  2
    3  3  3
  4  4  4  4
5  5  5  5  5

In [29]:
for i in range(1, n + 1):
    for j in range(n - i):
        print(" ", end = " ")
    for j in range(1,i+1):
        print(j,end=" ")
    print("")

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [42]:
for i in range(0,n):
    for j in range(i):
        print(" ",end = " ")
    for j in range(1,n + 1 - i):
        print(j,end = " ")
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [41]:
for i in range(0,n):
    for j in range(i):
        print(" ",end = " ")
    for j in range(1,n + 1 - i):
        print(j,end = "  ")
    print()

1  2  3  4  5
  1  2  3  4
    1  2  3
      1  2
        1

In [44]:
for i in range(0,n):
    for j in range(1,n + 1 - i):
        print(j,end = " ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [48]:
for i in range(1, n):
    for j in range(n - i):
        print(" ", end = " ")
    for j in range(1,i+1):
        print(j,end="  ")
    print("")
for i in range(0,n):
    for j in range(i):
        print(" ",end = " ")
    for j in range(1,n + 1 - i):
        print(j,end = "  ")
    print()

        1
      1  2
    1  2  3
  1  2  3  4
1  2  3  4  5
  1  2  3  4
    1  2  3
      1  2
        1